.logo-container {
    height: 100%;
    width: 22%;
}

.logo-name1 {
    height: 90%;
}

.logo-name {
    height: 60%;    
}

.logo-namep {
    height: 80%;
}

.logo-namelast {
    height: 20%;
}